.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		@include adaptiveValue("gap", 32, 24);
	}

	// .tabs__title
	&__title {
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(30, 24);
		text-decoration: underline transparent from-font;
		text-underline-offset: 3px;
		transition: $transition ease text-decoration 0s;

		@media (any-hover: hover) {
			&:not(._tab-active) {
				&:hover {
					text-decoration: underline $mainColor from-font;
				}
			}
		}

		&._tab-active {
			color: $Green;
			text-decoration: underline $Green from-font;
		}
	}

	// .tabs__content
	&__content {
	}

	// .tabs__body
	&__body {
	}
}
