//<QUANTITY>
// Снипет (HTML): qa
.quantity {
	width: rem(93);
	height: rem(32);
	display: flex;
	background-color: $LGray;
	border-radius: rem(10);

	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: $Gray;
			width: 9px;
			height: 1px;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}

		// .quantity__button_plus
		&_plus {
			border-radius: 0 rem(10) rem(10) 0;

			&::before {
				transform: rotate(-90deg);
			}
		}

		// .quantity__button_minus
		&_minus {
			border-radius: rem(10) 0 0 rem(10);
		}
	}

	// .quantity__input
	&__input {
		flex: 1 1 auto;

		input {
			height: 100%;
			font-weight: 700;
			font-size: rem(16);
			width: 100%;
			text-align: center;
			background-color: $LGray;
			outline: 0;
		}
	}
}
