%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-catalog:before {
	content: "\e90e";
}
._icon-home:before {
	content: "\e90f";
}
._icon-chevron-2:before {
	content: "\e90c";
}
._icon-favorite-fill:before {
	content: "\e90d";
}
._icon-cart:before {
	content: "\e901";
}
._icon-favorite:before {
	content: "\e909";
}
._icon-facebook:before {
	content: "\e900";
}
._icon-instagram:before {
	content: "\e902";
}
._icon-mail:before {
	content: "\e903";
}
._icon-phone:before {
	content: "\e904";
}
._icon-share:before {
	content: "\e905";
}
._icon-support:before {
	content: "\e906";
}
._icon-user:before {
	content: "\e907";
}
._icon-vk:before {
	content: "\e908";
}
._icon-cart-2:before {
	content: "\e90a";
}
._icon-chevron:before {
	content: "\e90b";
}
